body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background: #00838F;
    background-image: url("/Content/img/winter.jpg");
}
.mdl-grid.center-items {
    justify-content: center;
}

.extrawide {
    width: 100%;
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    background-color: #623a56;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    background-color: #623a56;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}